In [1]:
from duckberg import DuckBerg

NameError: name 'Optional' is not defined

In [2]:
MINIO_URI = "http://minio:9000/"
MINIO_USER = "admin"
MINIO_PASSWORD = "password"

catalog_config: dict[str, str] = {
  "type": "rest",
  "uri": "http://iceberg-rest:8181/",
  "credentials": "admin:password",
  "s3.endpoint": MINIO_URI,
  "s3.access-key-id": MINIO_USER,
  "s3.secret-access-key": MINIO_PASSWORD
}

catalog_name = "warehouse"

In [5]:
db = DuckBerg(
     catalog_name=catalog_name,
     catalog_config=catalog_config)

In [6]:
tables = db.list_tables()
tables

AttributeError: 'DuckBerg' object has no attribute 'tables'

In [7]:
partitions = db.list_partitions(table="nyc.taxis")
partitions

AttributeError: 'DuckBerg' object has no attribute 'tables'

In [ ]:
partitions = db.list_partitions(table="nyc.taxis")
partitions

In [8]:
query: str = "SELECT * FROM nyc.taxis WHERE trip_distance > 40 ORDER BY tolls_amount DESC"
df = db.select(table="nyc.taxis", filter="payment_type = 1", sql=query)
df

AttributeError: 'DuckBerg' object has no attribute 'tables'

In [14]:
query: str = "SELECT * FROM 'nyc.taxis' WHERE trip_distance > 40 ORDER BY tolls_amount DESC"
df = db.select(table="nyc.taxis", partition_filter="payment_type = 1", sql=query)
df

/opt/conda/lib/python3.11/site-packages/pyiceberg/avro/decoder.py:184: UserWarning: Falling back to pure Python Avro decoder, missing Cython implementation
  warnings.warn("Falling back to pure Python Avro decoder, missing Cython implementation")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2022-12-17 19:01:42,2022-12-17 20:35:24,3.0,40.27,3.0,N,132,265,1,128.5,0.00,0.0,47.59,60.30,0.3,237.94,0.0,1.25
1,2,2022-12-04 18:47:12,2022-12-04 20:24:14,1.0,80.44,1.0,N,132,265,1,205.0,0.00,0.5,49.47,40.30,0.3,296.82,0.0,1.25
2,2,2022-12-09 17:20:22,2022-12-09 19:22:00,1.0,95.83,5.0,N,132,265,1,300.0,0.00,0.0,67.83,38.85,0.3,408.23,0.0,1.25
3,2,2022-12-04 00:08:09,2022-12-04 01:15:18,2.0,53.36,4.0,N,132,265,1,196.5,0.50,0.0,0.00,38.30,0.3,236.85,0.0,1.25
4,2,2022-12-14 08:12:17,2022-12-14 09:36:33,3.0,49.93,5.0,N,132,265,1,250.0,0.00,0.0,57.66,38.00,0.3,345.96,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,1,2022-12-17 12:16:01,2022-12-17 13:14:16,2.0,42.20,5.0,N,263,265,1,160.0,0.00,0.0,20.00,0.00,0.3,180.30,0.0,0.00
513,1,2022-12-17 21:19:10,2022-12-17 22:19:10,1.0,50.20,4.0,N,132,265,1,238.5,1.75,0.5,0.00,0.00,0.3,241.05,0.0,1.25
514,1,2022-12-18 02:12:39,2022-12-18 03:09:39,0.0,47.70,5.0,N,161,265,1,150.0,0.00,0.0,20.00,0.00,0.3,170.30,0.0,0.00
515,2,2022-12-18 04:31:49,2022-12-18 05:25:11,2.0,40.26,5.0,N,193,265,1,120.0,0.00,0.5,24.16,0.00,0.3,144.96,0.0,0.00
516,1,2022-12-18 08:44:30,2022-12-18 09:53:41,2.0,60.90,5.0,N,132,265,1,200.0,1.25,0.0,0.05,0.00,0.3,201.60,0.0,1.25